# Base de datos local
db.sqlite3

# Python genera estas carpetas automáticamente al ejecutar
__pycache__/
*.pyc

# Django genera esta carpeta con "collectstatic"
staticfiles/

# Carpeta de imágenes subidas
media/

# Archivos de log
*.log

# Windows
Thumbs.db

# Mac
.DS_Store

#Entorno virtual
venv/